In [6]:
import numpy as np
import pandas as pd

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('train.csv', usecols=['Age','Pclass','Fare','Survived'])

In [3]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [4]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [5]:
x = df.drop(columns=['Survived'])
y = df['Survived']

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state=2)

In [8]:
x_train.head()

     Pclass   Age     Fare
30        1  40.0  27.7208
10        3   4.0  16.7000
873       3  47.0   9.0000
182       3   9.0  31.3875
876       3  20.0   9.8458

In [28]:
knn = KNNImputer(n_neighbors=2,weights='distance')

x_train_trf = knn.fit_transform(x_train)
x_test_trf = knn.transform(x_test)

In [26]:
x_train_trf

array([[  1.        ,  40.        ,  27.7208    ],
       [  3.        ,   4.        ,  16.7       ],
       [  3.        ,  47.        ,   9.        ],
       ...,
       [  1.        ,  71.        ,  49.5042    ],
       [  1.        ,  32.66666667, 221.7792    ],
       [  1.        ,  49.76289518,  25.925     ]])

In [29]:
lr = LogisticRegression()

lr.fit(x_train_trf,y_train)

y_pred = lr.predict(x_test_trf)

accuracy_score(y_test,y_pred)

0.7150837988826816

# Comparision with SimpleImputer

In [33]:
si = SimpleImputer()

x_train_trf2 = si.fit_transform(x_train)
x_test_trf2 = si.transform(x_test)

In [34]:
lr.fit(x_train_trf2,y_train)

y_pred2 = lr.predict(x_test_trf2)

accuracy_score(y_test,y_pred2)

0.6927374301675978

In [1]:
import math

In [3]:
math.sqrt(0.8*6/1000)

0.06928203230275509